.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    margin: 0 auto;
    margin: 10px;
    margin-top: 100px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 20px 16px;
    background-color: white;
    color: #08605F;
    height: 100px;
    
  }

  .card img {
    width: 100%;
    height: 80%;
  }

  @media only screen and (max-width: 1200px){
    .container {
      padding: 40px 16px;
      height: 50px;
    }
  }